@use "../global.scss" as global;

nav{
    width: 100%;
    height: 5rem;
    @include global.flex;
    font-family: global.$font-primary;
    font-weight: 500;
    position: absolute;
    z-index: 2;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.068);
 
    #logo{
        height: 100%;
        width: 20%;
        @include global.flex();
        font-size: 1.8rem;
        cursor: pointer;

        >img{
            object-fit: contain;
            height: 100%;
        }
    }
    .navLinks{
        height: 100%;
        width: 80%;
        @include global.flex($j:flex-end);
        gap:2.5rem;
        padding-right:10%;
        font-size: 1.1rem;
        li > a{
            transition: .3s ease-in-out;
            &:hover{color:global.$primary-color;}
        }
        #contact{
            background-color:global.$primary-color;
            color: white;
            padding: 10px 20px;
            border-radius: 8px;
            &:hover
            {
                background-color: global.$secondary-color;
            }
        }
    }

}

.Scrolled{
    background: #f7f6f6;
    color: #000;
    position: fixed;
    z-index: 3;
    transition: .3s ease-in-out;
    border-bottom: 1px solid rgba(0, 0, 0, 0.068);
}