/* GLOBAL SCSS FILE */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');


$primary-color: #B99A48; 
$secondary-color: #ff9800; 

$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Inter', sans-serif;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

/* --------------------------
   3. Mixins
-------------------------- */
@mixin flex( $j: center, $a: center) {
  display: flex;
  justify-content: $j;
  align-items: $a;
}



/* --------------------------
   4. Global Reset
-------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: $font-primary;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}


.hidden {
  display: none !important;
}


